/*!
 * Payfy presentation theme.
 *
 * @theme payfy-theme
 * @author Matheus Anzzulin
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

:root {
  --eerie-black: #141414;
  --orange-red: #f06a2c;
  --atomic-tangerine: #f49366;
  --davys-grey: #555555;
  --mint-cream: #f5fbf6;
}

footer {
  position: absolute;
  right: 1em;
  left: auto;
  bottom: 1em;
  width: 5em;
  height: 5em;
  background-image: url("https://media.glassdoor.com/sqll/6644004/payfy-squareLogo-1642164297090.png");
  background-size: 100% 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--orange-red);
  text-align: left;
  font-size: 3em;
}
h2 {
  color: var(--davys-grey);
  text-align: left;
  font-size: 2.5em;
}
h3 {
  color: var(--davys-grey);
  text-align: left;
  font-size: 2em;
}
p {
  font-size: 2em;
  color: var(--davys-grey);
}
li {
  font-size: 2em;
  color: var(--davys-grey);
  padding-bottom: 0.5em;
}

section {
  background-color: var(--mint-cream);
  padding: 2em;
  font-size: 16px;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

section.image-left img {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 42%;
  object-fit: cover;
}

section.image-left {
  padding-left: 45%;
}

section.image-right img {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 42%;
  object-fit: cover;
}

section.image-right {
  padding-right: 45%;
}

section.image-right footer {
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 5em;
  height: 5em;
  background-image: url("https://media.glassdoor.com/sqll/6644004/payfy-squareLogo-1642164297090.png");
  background-size: 100% 100%;
}

section.lead {
  background-clip: border-box;
  background-color: var(--mint-cream);
  border: 2em solid var(--atomic-tangerine);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  height: 100%;
  justify-content: center;
  padding-top: 5em;
}

section.lead h1 {
  font-size: 6em;
  color: var(--orange-red);
  text-align: center;
}

section.lead h3 {
  font-size: 3em;
  color: var(--davys-grey);
  text-align: center;
}

table {
  background: #2d333b;
  border: 1px solid #444c56;
  color: #adbac7;
  border-radius: 0.4em;
  overflow: hidden;
  min-width: 20rem;
}

tr {
  margin: 0.5em 1em;
}

th,
td {
  margin: 0.5em 1em;
  text-align: center;
  vertical-align: middle;
}

pre {
  display: block;
  border: 1px solid #444c56;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #2d333b;
  border-radius: 6px;
  word-wrap: normal;
  margin-bottom: 16px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

pre code,
pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #adbac7;
}
